    <ul>
        <li><a href="#ContactListPage" id="menuContacts"
               data-transition='none' data-btn-type="generic" data-icon="custom"
               >Contacts</a></li>
        <li><a href="#List1Page" id="menuGroups"
               data-transition='none' data-btn-type="generic" data-icon="custom"
                >Groups</a></li>
        <li><a href="#List2Page" id="menuFavorites"
               data-transition='none' data-btn-type="generic" data-icon="custom"
                >Favorites</a></li>
        <li><a href="#SettingsPage" id="menuSettings"
               data-transition='none' data-btn-type="generic" data-icon="custom"
                >Settings</a></li>
    </ul>
