
<div id="header" data-id="header"   data-role="header" data-position="fixed"  data-tap-toggle="false">
    <h1>Settings</h1>

    <a id="btnSaveContact" href="#" class="ui-btn-right hide"
       data-role="button" data-icon="plus"
       data-iconpos="left" data-theme="b">Save</a>

</div>

<div data-role="content" class="z-wrapper">
    <div class="z-scroller">
        <div class="z-content">
            <p>
                Settings content goes here
            </p>
        </div>
    </div>
</div>

<div id="footer" data-id="footer" data-role="footer" data-position="fixed"  data-tap-toggle="false">

</div>

