
<div id="header" data-id="header" data-position="fixed" data-role="header" data-tap-toggle="false">
    <h1>Contacts</h1>
    <a id="btnAddContact" href="#" class="ui-btn-right"
       data-role="button" data-icon="plus"
       data-iconpos="notext" data-theme="b">Add</a>

</div>

<div data-role="content" class="z-wrapper">

    <div class="z-scroller">
        <p>
            <a href="#List1Page" data-btn-type="generic" data-role="button">Goto Page 1</a>
            <a href="#List2Page" data-btn-type="generic" data-role="button">Goto Page 2</a>
        </p>

        <div class="z-content">
            <!-- Page content will go here -->
        </div>
    </div>

</div>

<div id="footer" data-id="footer" data-position="fixed" data-role="footer" data-tap-toggle="false">

</div>

