
    <div data-role="header" data-position="fixed"  data-tap-toggle="false">
        <h1>Contacts</h1>
    </div>

    <div data-role="content">

        <p>
            <a href="#Page2">Goto Page 2</a>
            <a href="#ContactListPage">Goto Contact List Page</a>
        </p>

        <div class="content">
            <ul data-role="listview" data-inset="true">
                <li><a href="#">List Item 1</a></li>
                <li><a href="#">List Item 2</a></li>
                <li><a href="#">List Item 3</a></li>
                <li><a href="#">List Item 4</a></li>
                <li><a href="#">List Item 5</a></li>
                <li><a href="#">List Item 6</a></li>
                <li><a href="#">List Item 7</a></li>
                <li><a href="#">List Item 8</a></li>
                <li><a href="#">List Item 8</a></li>
                <li><a href="#">List Item 8</a></li>
                <li><a href="#">List Item 8</a></li>
                <li><a href="#">List Item 8</a></li>
                <li><a href="#">List Item 8</a></li>
            </ul>
        </div>
    </div>

    <div data-role="footer" data-position="fixed"  data-tap-toggle="false">
        <h1>Contact Manager</h1>
    </div>

