
<div id="header" data-id="header"  data-role="header" data-position="fixed"  data-tap-toggle="false">
    <h1>Add Contact</h1>

    <a id="btnCancelContact" href="#" class="ui-btn-left"
       data-role="button" data-icon="delete"
       data-iconpos="left" data-theme="c">Cancel</a>

    <a id="btnSaveContact" href="#" class="ui-btn-right hide"
       data-role="button" data-icon="plus"
       data-iconpos="left" data-theme="b">Save</a>
    <a id="btnEditContact" href="#" class="ui-btn-right"
       data-role="button" data-icon="edit"
       data-iconpos="left" data-theme="b">Edit</a>

</div>

<div data-role="content" class="z-wrapper">

    <div class="z-scroller">

        <p>
            <a href="#List1Page" data-btn-type="generic" data-role="button">Goto Page 1</a>
            <a href="#List2Page" data-btn-type="generic" data-role="button">Goto Page 2</a>
        </p>

        <div class="z-content">
            <p>
                Add contact form here...
            </p>
        </div>

    </div>
</div>

<div id="footer" data-id="footer" data-role="footer" data-position="fixed"  data-tap-toggle="false">
    <div data-role="navbar" class="nav-glyphish">
        <ul>
            <li><a href="#ContactListPage" id="menuContacts"
                   data-transition='none' data-btn-type="generic" data-icon="custom"
                   class="ui-btn-active">Contacts</a></li>
            <li><a href="#List1Page" id="menuGroups"
                   data-transition='none' data-btn-type="generic" data-icon="custom"
                   >Groups</a></li>
            <li><a href="#List2Page" id="menuFavorites"
                   data-transition='none' data-btn-type="generic" data-icon="custom"
                    >Favorites</a></li>
            <li><a href="#SettingsPage" id="menuSettings"
                   data-transition='none' data-btn-type="generic" data-icon="custom"
                   >Settings</a></li>
        </ul>
    </div>
</div>

