
    <div id="header" data-id="header"   data-role="header" data-position="fixed"  data-tap-toggle="false">
        <h1>Contacts</h1>
    </div>

    <div data-role="content">

        <p>
            <a href="#List2Page" data-btn-type="generic" data-role="button">Goto Page 2</a>
            <a href="#ContactListPage" data-btn-type="generic" data-role="button">Goto Contact List Page</a>
        </p>

        <div class="content">
            <ul data-role="listview" data-inset="true">
                <li data-role="list-divider">Group 1</li>
                <li><a href="#">List Item 1</a></li>
                <li>
                    <a href="#Form1Page" data-btn-type="generic">Form 1 Page</a>
                    <a href="#"></a>
                </li>

                <li><a href="#">List Item 4</a></li>

                <li>
                    <a href="#">
                        <h1>List Item 5</h1>
                    </a>
                </li>

                <li><a href="#">List Item 6</a></li>
                <li data-role="list-divider">Group 2</li>
                <li><a href="#">List Item 8</a></li>
                <li>
                    <a href="#"><p>List Item 8</p></a>
                </li>
                <li><a href="#">List Item 8</a></li>
                <li data-role="list-divider">Group 3</li>
                <li><a href="#">List Item 8</a></li>
                <li><a href="#">List Item 8</a></li>
                <li><a href="#">List Item 8</a></li>
                <li><a href="#">List Item 8</a></li>
                <li><a href="#">List Item 8</a></li>
                <li><a href="#">List Item 8</a></li>
                <li><a href="#">List Item 8</a></li>
                <li><a href="#">List Item 8</a></li>
                <li><a href="#">List Item 8</a></li>
                <li><a href="#">List Item 8</a></li>
                <li><a href="#">List Item 8</a></li>
                <li><a href="#">List Item 8</a></li>
                <li><a href="#">List Item 8</a></li>
                <li><a href="#">List Item 8</a></li>
                <li><a href="#">List Item 8</a></li>
                <li><a href="#">List Item 8</a></li>
            </ul>
        </div>
    </div>

    <div id="footer" data-id="footer" data-role="footer" data-position="fixed"  data-tap-toggle="false">
        <div data-role="navbar" class="nav-glyphish">
            <ul>
                <li><a href="#ContactListPage" id="menuContacts"
                       data-transition='none' data-btn-type="generic" data-icon="custom"
                       >Contacts</a></li>
                <li><a href="#List1Page" id="menuGroups"
                       data-transition='none' data-btn-type="generic" data-icon="custom"
                       class="ui-btn-active">Groups</a></li>
                <li><a href="#List2Page" id="menuFavorites"
                       data-transition='none' data-btn-type="generic" data-icon="custom"
                       >Favorites</a></li>
                <li><a href="#SettingsPage" id="menuSettings"
                       data-transition='none' data-btn-type="generic" data-icon="custom"
                       >Settings</a></li>
            </ul>
        </div>
    </div>

